/*重置样式*/
*{
    margin: 0;
    padding: 0;
    border: 0
}
#MainTop{
    background: none repeat scroll 0 0 #F75559;    height: 100px;    overflow:hidden;
}
#MainLeft{
    background: none repeat scroll 0 0 #F38611;    float: left;    height: 700px;
    margin-top: 10px;    width: 260px;    overflow:hidden;
}
#MainRight{
    background: none repeat scroll 0 0 #9287D6;    float: right;    height: 700px;
    margin-top: 10px;    width: 700px;    overflow:hidden;
}